* {
    background: #000103;
    foreground: #D1E6F0;

    color0: #000103;
    color1: #091E21;
    color2: #12262B;
    color3: #53717F;
    color4: #8CA8B3;
    color5: #9FB5C0;
    color6: #ABC0C9;
    color7: #C8DDE6;

    color8: #7E919A;
    color9: #091E21;
    color10: #12262B;
    color11: #53717F;
    color12: #8CA8B3;
    color13: #9FB5C0;
    color14: #ABC0C9;
    color15: #DBE5EA;
}
