[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gemini
Exec=/opt/brave-bin/brave --profile-directory=Default --new-window --app=https://gemini.google.com
Icon=/home/rudra/.local/share/applications/webapps/icons/gemini.webp
Keywords=ai;help;
