[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Keep
Exec=/opt/brave-bin/brave --profile-directory=Default --new-window --app=https://keep.google.com
Icon=/home/rudra/.local/share/applications/webapps/icons/keep.png
Keywords=keep;todo;notes;
