configuration {
    modi:                       "drun,run,combi";
    show-icons:                 true;
    display-drun:               "";
    display-run:                " ";
    font:                       "JetBrains Nerd 12";
    terminal:                   "kitty";
    matching:                   "fuzzy";
    sort:                       true;
    sorting-method:             "fzf";
    hover-select:               true;
    me-select-entry:            "";
    me-accept-entry:            "!MousePrimary";
    kb-cancel:                  "MousePrimary,Escape";
}


@theme "~/.config/rofi/auto-themer/auto.rasi"

*{
  width : 700px;
}

